<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Crear persona</title>
  </head>
  <body>
    <div class="container">
    <h1>Crear Persona</h1>
      <div class="row">
        <div class="col-sm-12">

        <form action="/persona-create" method="post">
          <div class="mb-3">
            <label for="request_nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="request_nombre" id="request_nombre" >
          </div>
          <div class="mb-3">
            <label for="request_paterno" class="form-label">Paterno</label>
            <input type="text" class="form-control" name="request_paterno" id="request_paterno" >
          </div>
          <div class="mb-3">
            <label for="request_materno" class="form-label">Materno</label>
            <input type="text" class="form-control" name="request_materno" id="request_materno" >
          </div>
          <div class="mb-3">
            <label for="request_nroDocumento" class="form-label">Nro. documento</label>
            <input type="text" class="form-control" name="request_nroDocumento" id="request_nroDocumento" >
          </div>

          <button type="submit" class="btn btn-primary">Guardar</button>
          <a href="/persona-list" class="btn btn-danger">Cancelar</a>
        </form>


        </div>
      </div>
    </div>

    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
