<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Listar Personas</title>
  </head>
  <body>
    <div class="container">
    <h1>Listar Personas <a href="/persona-form-create" class="btn btn-success btn-sm">Crear Persona</a></h1>
      <div class="row">
        <div class="col-sm-12 table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Paterno</th>
                <th scope="col">Materno</th>
                <th scope="col">Nro. documento</th>
                <th scope="col" width="5%"></th>
                <th scope="col" width="5%"></th>
              </tr>
            </thead>
            <tbody>
                <% personas.forEach(function(persona,i){ %>
              <tr>
                <th scope="row"><%= (i+1) %></th>
                <td><%= persona._id; %></td>
                <td><%= persona.nombre; %></td>
                <td><%= persona.apellidoPaterno; %></td>
                <td><%= persona.apellidoMaterno; %></td>
                <td><%= persona.numeroDocumento; %></td>
                <td><a href="/persona-form-edit/<%= persona._id; %>" class="btn btn-info">Editar</a></td>
                <td><a href="/persona-delete/<%= persona._id; %>" class="btn btn-danger">Eliminar</a></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>

    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
